<%=@user.name%>, welcome to TripEd!
===============================================

You have successfully created an account, and can begin
searching for, and booking field trips!

To get started, you can log into your account <a href="<%=@url%>">here</a>.
