<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome to TripEd!</title>
  </head>
  <body>
    <h1><%=@user.name%>, welcome to TripEd!</h1>
    <p>
      You have successfully created an account, and can begin
      searching for, and booking field trips!
    </p>
    <p>
      To get started, you can log into your account <a href="<%=@url%>">here</a>.
    </p>
  </body>
</html>
