<!DOCTYPE html>
<html>
  <head>
    <title>TripEd</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style type="text/css">
    html, body {
      height: 100%; margin: 0; padding: 0;
    }
    #map {
      height: 300px;
      width: 300px;
    }
    </style>
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div> 
  </body>
</html>
